.container {
    max-width: 1450px;
    padding: 60px 15px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #29C4FD;
}
.text {
    font-size: 20px;
    line-height: 25px;
}
.subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.button {
    display: inline-block;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    border-radius: 60px;
    box-shadow: 0 4px 32px rgba(41, 196, 253, 0.5);
}

.button:hover {
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 50px rgba(41, 196, 253, 0.8);
}

.button_callback {
    background-color: #29C4FD;
    color: #ffffff;
}

.hero {
    padding-top: 115px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__left {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.hero__logo {
    margin-bottom: 65px;
}

.hero__title {
    font-family: Ruberoid, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 83px;
}


.hero__title:hover {
    cursor: pointer;
}
.text_hero {
    margin: 50px 0;
}


.button_hero {
    white-space: nowrap;
    padding: 20px 95px;
}


.hero__image {
    position: relative;
}
.hero__image::before {
    content: "";
    width: 55px;
    height: 55px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -75px;
    bottom: 210px;
}
.hero__image::after {
    content: "";
    width: 110px;
    height: 110px;
    background-color:#29C4FD;
    background-image: url("../../media/public/home/hero-diagramma.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    bottom: 70px;
}
.hero__image img {
    border-radius: 50%;
}



.text_privilege {
    padding-top: 40px;
    padding-bottom: 90px;
}


.privilege__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}


.privilege__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.privilege__item:hover {
    cursor: pointer;
}

.privilege__image {
    width: 193px;
    height: 193px;
    background-color: #29C4FD;
    border-radius: 61px;
}
.subtitle_privilege {
    padding: 40px 0;
}

.works {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 100px;
}
.slider {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}


.slider__row {
    display: flex;

}
.slider__row:not(:last-child) {
    padding-top: 30px;
    padding-bottom: 60px;
}
.slider__image:hover {
    cursor: pointer;
}

.slider__image:not(:last-child) {
    padding-right: 85px;
}
.slider__image_first {
    margin-left: -150px;
}

.works__bottom {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.button_works {
    padding: 20px 115px;
}


.services__inner {
    padding-top: 30px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.services__top {
    padding: 140px 0;
}
.services__row {
    display: flex;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__item:not(:last-child) {
    margin-right: 400px;
}

.services__number {
    display: inline-block;
    position: relative;
    font-size: 72px;
    line-height: 88px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #29C4FD;
    padding: 20px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.services__number::after {
    content: "";
    position: absolute;
    left: -500px;
    top: 65px;
    width: 1920px;
    height: 6px;
    background-color: #29C4FD;
    z-index: -1;

}

.services__number:hover {
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 0 80px #B1EAFF;
    border-radius: 50%;
    margin-bottom: 140px;

}
.button_services {
    padding: 20px 115px;
}

.about__inner   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
}
.about__left {
    padding-left: 200px;
}
.about__image {
    position: relative;
}
.about__image::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -220px;
    bottom: 70px;
}
.about__image::after {
    content: "";
    width: 460px;
    height: 460px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -215px;
    bottom: 70px;
    z-index: -1;
}
.about__image img{
    border-radius: 50%;
    z-index: 1;
}

.about__right {
    padding-top: 70px;
    width: 510px;
}

.subtitle_about {
    font-weight: 500;
    color: #29C4FD;
    padding-bottom: 10px;
}
.about__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
.text_about {
    padding: 60px 0;
}
.button_about {
    padding: 20px 100px;

}

.about__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about__row:not(:last-child) {
    padding-bottom: 60px;
}
.about__item {
    display: flex;
    align-items: center;
    padding: 50px 100px;
    box-shadow: 0 4px 52px rgba(84, 101, 145, 0.15);
    border-radius: 88px;
}
.about__item:not(:last-child) {
    margin-right: 60px;
}

.about__item:hover {
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 50px rgba(41, 196, 253, 0.8);
}
.about__circle {
    margin-right: 25px;
    width: 18px;
    height: 18px;
    background-color: #29C4FD;
    border-radius: 50%;
}

.contacts {
    overflow: hidden;
}
.contacts__inner {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.contacts__left {
    padding-left: 230px;
}
.text_contacts {
    padding: 60px 0;
    width: 520px;
}
.button_contacts {
    padding: 20px 50px;
}
.contacts__image{
    margin-top: 50px;
    margin-left: -260px;
}

.contacts__right {
    position: absolute;
    right: -200px;
    top: -100px;

}

.contacts__background{
    position: relative;
    border-radius: 50%;
    width: 1250px;
    height: 1100px;
    overflow: hidden;

}
.contacts__background img {
    width: 84%;
}
.title_contacts{
    position: absolute;
    bottom: 190px;
    left: 0;
    color: #ffffff;
    background-color: #29C4FD;
    padding: 60px 239px;
    white-space: nowrap;
}

@media (min-width: 770px) and (max-width: 1500px ) {
    .hero__image img {
        width: calc(350px + (700 - 350 ) * ((100vw - 770px) / (1500 - 770))) ;
    }
    .privilege__row {
        margin-left: calc(20px + (200 - 20 ) * ((100vw - 770px) / (1500 - 770))) ;
    }
    .about__left {
        padding-left: calc(0px + (200 - 00 ) * ((100vw - 770px) / (1500 - 770)));
    }
    .about__image img {
        width: calc(350px + (600 - 350 ) * ((100vw - 770px) / (1500 - 770))) ;
    }
    

}
@media (min-width: 320px) and (max-width: 1500px) {
    .about__item:not(:last-child) {
        margin-bottom: 30px;
        margin-right: calc(0px + (60 - 0 ) * ((100vw - 320px) / (1500 - 320)));
    }
    .about__row:not(:last-child) {
        padding-bottom: calc(30px + (60 - 30 ) * ((100vw - 320px) / (1500 - 320)));
    }
}
@media (max-width: 1920px) {
    .hero__title {
        font-size: calc(40px + (83 - 40) * ((100vw - 320px) / (1920 - 320))) ;
    }
    .title {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320))) ;
    }
    .text {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320))) ;
        line-height: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320))) ;
    }
    .subtitle {
        font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320))) ;
        line-height: calc(20px + (29 - 20) * ((100vw - 320px) / (1920 - 320))) ;
    }

    .button {
        font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320))) ;
        line-height: calc(24px + (42 - 24) * ((100vw - 320px) / (1920 - 320))) ;
    }
    .about__title {
        font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320))) ;
        line-height: calc(22px + (44 - 22) * ((100vw - 320px) / (1920 - 320))) ;
    }
}
@media (max-width: 1500px) {
    .hero {
        padding-top: calc(20px + (115 - 20 ) * ((100vw - 320px) / (1500 - 320))) ;
        padding-bottom: calc(20px + (115 - 20 ) * ((100vw - 320px) / (1500 - 320))) ;
    }
    .hero__left {
        margin-top: calc(10px + (100 - 10) * ((100vw - 320px) / (1500 - 320))) ;
    }
    .hero__logo {
        margin-bottom: calc(10px + (65 - 10) * ((100vw - 320px) / (1500 - 320)));
    }
    .hero__logo img{
        width: calc(50px + (93 - 50) * ((100vw - 320px) / (1500 - 320)));
    }
    .text_hero {
        margin: calc(20px + (50 - 10) * ((100vw - 320px) / (1500 - 320))) ;
    }
    .hero__image::before {
        width: calc(25px + (50 - 25) * ((100vw - 770px) / (1500 - 770)));
        height: calc(25px + (50 - 25) * ((100vw - 770px) / (1500 - 770)));

        left: calc(30px + (-75 - 30) * ((100vw - 770px) / (1500 - 770)));
        bottom: calc(30px + (210 - 30) * ((100vw - 770px) / (1500 - 770)));
    }
    .hero__image::after {
        width: calc(50px + (110 - 50) * ((100vw - 770px) / (1500 - 770)));
        height: calc(50px + (110 - 50) * ((100vw - 770px) / (1500 - 770)));
        background-size: calc(25px + (50 - 25) * ((100vw - 770px) / (1500 - 770)));
        left: calc(55px + (-150 - 55) * ((100vw - 770px) / (1500 - 770)));
        bottom: calc(-35px + (70 + 35) * ((100vw - 770px) / (1500 - 770)));
    }
    .text_privilege {
        padding-top: calc(20px + (40 - 20 ) * ((100vw - 320px) / (1500 - 320))) ;
        padding-bottom: calc(20px + (90 - 20 ) * ((100vw - 320px) / (1500 - 320))) ;
    }

    .privilege__item {
        margin-right: calc(20px + (100 - 20 ) * ((100vw - 320px) / (1500 - 320))) ;
    }
    .about__inner {
        padding: calc(20px + (110 - 20 ) * ((100vw - 320px) / (1500 - 320)));
    }
    .about__image::before {
        left: calc(0px + (-220 - 0 ) * ((100vw - 770px) / (1500 - 770)));
        bottom: calc(-30px + (70 + 30 ) * ((100vw - 770px) / (1500 - 770)));
    }
    .about__image::after {
        width: calc(350px + (460 - 350 ) * ((100vw - 770px) / (1500 - 770)));
        height: calc(350px + (460 - 350 ) * ((100vw - 770px) / (1500 - 770)));
        left: calc(-50px + (-215 + 50 ) * ((100vw - 770px) / (1500 - 770)));
        bottom: calc(5px + (70 - 5 ) * ((100vw - 770px) / (1500 - 770)));
    }
    .about__right {
        margin-left: 30px;
    }



}
@media (max-width: 890px) {
    .privilege__row {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 770px) {
    .hero {
        justify-content: center;
    }
    .hero__right {
        display: none;
    }
    .privilege__row {
        margin-left: 0;
    }
    .privilege__image {
        width: calc(150px + (193 - 150 ) * ((100vw - 320px) / (770 - 320)));
        height: calc(150px + (193 - 150 ) * ((100vw - 320px) / (770 - 320)));

    }
    .subtitle_privilege {
        padding: calc(20px + (40 - 20 ) * ((100vw - 320px) / (770 - 320))) 0;
    }
    .about__inner {
        justify-content: center;
    }
    .about__left {
        display: none;
    }
    .about__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .about__row {
        width: 100%;
    }
    .about__item {
        width: 90%;
    }
    .text_about {
        padding: calc(20px + (60 - 20) * ((100vw - 320px) / (770 - 320))) 0 ;
    }


}
@media (max-width: 500px) {
    .about__item {
        text-align: center;
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (500 - 320))) calc(20px + (100 - 20) * ((100vw - 320px) / (500 - 320))) ;
    }
    .about__circle {
        display: none;
    }
    .button_about {
        padding: calc(15px + (20 - 15) * ((100vw - 320px) / (500 - 320))) calc(65px + (95 - 65) * ((100vw - 320px) / (500 - 320))) ;
    }
}
@media (max-width: 400px) {
    .button_hero {
        padding: calc(15px + (20 - 15) * ((100vw - 320px) / (400 - 320))) calc(65px + (95 - 65) * ((100vw - 320px) / (400 - 320))) ;
    }
    .about__circle {
        display: none;
    }
}

